<style>
    .main-navbar {
        background-color: aliceblue;
    }

</style>
<nav class="main-navbar navbar navbar-expand-lg navbar-dark px-3">
    <div class="container-fluid">
      <a class="brand-name" href="/">BookJam</a>
      <div class="ms-auto">
        <a class="auth-link" href="/register">Register</a>
        <a href="/login"><button class="btn login-btn ms-2">Log in</button></a>
      </div>
    </div>
  </nav>
