<nav class="main-navbar navbar navbar-expand-lg navbar-dark px-3">
	<div class="container-fluid">
		<a class="brand-name instrument-serif-regular-italic" href="/">BookJam</a>
		<button id="search-books-btn" class="btn login-btn ms-3">Search Books</button>

		<div class="ms-auto">
			<% if (locals.belepve) { %>
				<div class="d-flex align-items-center">
					<img src="<%= locals.user && locals.user.gravatarEmail ? 'https://www.gravatar.com/avatar/' + locals.user.gravatarEmail : '/images/nopfp.svg' %>" 
						alt="Profile Picture" 
						class="rounded-circle me-2" 
						style="width: 40px; height: 40px; object-fit: cover;">
					<a href="/user"><button class="btn login-btn ms-2">Profile</button></a>
					<a href="/logout"><button class="btn login-btn ms-2">Log out</button></a>
				</div>
			<% } else { %>
				<a class="register-btn instrument-serif-regular-italic " href="/register">Register</a>
				<a href="/login"><button class="btn login-btn ms-2">Log in</button></a>
			<% } %>
		</div>
	</div>
</nav>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const searchBooksBtn = document.getElementById('search-books-btn');
		if (window.location.pathname === '/search') {
			searchBooksBtn.style.display = 'none';
		}
		searchBooksBtn.addEventListener('click', function () {
			window.location.href = '/search';
		});
	});
</script>