.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10%
}
  
.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 10%;
}

:root {
    --bookworm-brown: #d4af37;
    --background-primary: ##212529;
    --background-secondary: #333;
    --background-tertiary: #484646
}

body {
    background-color: var(--background-secondary);
    color: var(--background-primary);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.navbar {
    background-color: var(--background-secondary);
}

.brand-name {
    color: var(--bookworm-brown);
    font-size: 1.8rem;
    text-decoration: none;
}

.main-navbar {
    background-color: var(--background-tertiary);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0; 
    margin-bottom: 0; 
}

.main-content {
    background-color: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 1%;
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
}

.section-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: serif;
}

.books-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px; 
    padding-bottom: 0; 
    margin-bottom: 0;
}

.book-row {
    background-color: snow;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.borrow-btn {
    background-color: transparent;
    border: none;
    color: #d4af37;
    font-weight: bold;
}

.status-check {
    color: green;
    font-size: 1.2rem;
}

.register-btn {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.login-btn {
    margin-bottom: 4%;
    background-color: white;
    color: #333;
    border: none;
    font-weight: bold;
}

/* Custom scrollbar styling */
.books-container::-webkit-scrollbar {
    width: 8px;
}

.books-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.books-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.books-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}